<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header id="header2" class="header2" th:fragment="header2">
    <div class="header-top" style="position: fixed; background-color: #fff; top: 0; z-index: 9999;margin-left: -15px" >
        <!-- logo -->
        <div class="logo">
            <a href="/" title="校园文章发布平台">校园文章发布平台</a>
        </div>
        <!--&lt;!&ndash; nav &ndash;&gt;-->
        <!--<nav>-->
            <!--<ul>-->
                <!--<li><a href="#home">首页</a></li>-->
                <!--&lt;!&ndash;<li><a href="#about">About</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#activity">Activity</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#prepare">Paepare</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#contact">Contact</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</nav>-->
        <!-- search -->
        <div class="search">
            <input type="search" placeholder="搜索">
            <button></button>
        </div>
        <!-- 右侧 -->
        <div class="right">

            <!-- 写文章-->
            <div class="write">
                <a href="/admin" title="写文章"> 写文章</a>
            </div>

            <th:block th:if="not ${session.login_user}">
                <!-- 注册-->
                <div class="register">
                    <a href="#" title="注册">注册</a>
                </div>
                <!-- 登录-->
                <div class="login">
                    <a href="/admin/login" title="登录">登录</a>
                </div>
            </th:block>


            <th:block th:if="${session.login_user}">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" >
                        <a th:href="@{index.html}" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
                            <img th:src="${commons.gravatar(session.login_user.email)}" alt="user-img" class="img-circle"/>
                            <span class="username" th:text="${session.login_user.username}"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="width: 120px;padding-top: 15px;">
                            <li><a th:href="@{/personal/home}"><i class="fa fa-user-o"></i> 我的首页</a></li>
                            <li><a th:href="@{/admin/profile}"><i class="fa fa-sun-o"></i> 个人设置</a></li>
                            <li><a th:href="@{/admin/logout}"><i class="fa fa-sign-out"></i> 注销</a></li>
                        </ul>
                    </li>
                </ul>
            </th:block>

        </div>

    </div>
    </header>
</body>
</html>